body{
    margin: 0;
    padding: 0;
    background-color:#201B1B;
}

.title{
    text-align: center;
    color: aliceblue;
    font-size: 35px;
    
}
.title p{
  margin-top: -40px;
    
}
.con{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.co1{
    width: 40%;
    text-align: center;
    display: block;
    justify-content: center;
    color: rgb(197, 197, 187);
    font-size: 32px;
}
.co2{
    width: 60%;
    text-align: center;
  align-items: center;
  display: flex;
justify-content: center; /* Center the child element horizontally */
align-items: center; 

}
.inp{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
  align-items: center;

}
input{
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 20px;
    background-color: black;
    border: none;
    border-bottom: solid 2px rgb(31, 31, 50);
    padding: 10px;
}
button{
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: aliceblue;
    font-size: 38px;
    cursor: pointer;
}